<section id="cuerpo">
    <div class="login-box">
        <img class="logo" src="../../assets/images/logo.png" alt="Logo de ajedrez">
        <h1>Inicio</h1>
        <form (submit)="submit()">
            <label for="nickname1">Nickname Jugador 1</label>
            <input type="text" placeholder="Ingrese su nickname" [(ngModel)] = "jugador1.name" name="jugador1">

            <label for="nickname2">Nickname Jugador 2</label>
            <input type="text" placeholder="Ingrese su nickname" [(ngModel)] = "jugador2.name" name="jugador2">

            <label for="type_select">Opciones</label>
            <select id="type_select">
                <option value="1">Jugar</option>
                <option value="2">Observar</option>
            </select>

            <input style="cursor: pointer;" type="submit" value="ingresar">

        </form>
    </div>
</section>
