.jugador {
    
}

h1{
    color: rgb(228, 228, 228);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    text-align: center;
  }

#jugador1 {
    background-color: white;
    color: black;
}

#jugador2 {
    background-color: black;
    color: white;
}

.posicion1 {
    width: 60px;
    height: 60px;
    background-color: white;
    box-shadow: 5px 5px 8px #999;
    font-size: 300%;
}

.posicion2 {
    width: 60px;
    height: 60px;
    background-color: rgb(80, 80, 80);
    box-shadow: 5px 5px 8px #999;
    font-size: 300%;
}

.table.table-center {
    margin: 0 auto;
  }